.container{
    width: 700px;
    margin: 0px auto;
    height: 660px;
    border: 1px solid lightgray;
}
.wrapper{
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list{
    height: 90%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}