.navContainer {
    width: 100%;
    height: 70px;
    position: relative;
}

.navWrapper {
    padding: 10px 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.logoImage {
    font-weight: bold;
    font-size: 30px;
}

.navLinks {
    display: flex;
    gap: 20px;
    height: inherit;
    display: flex;
    align-items: center;
}

.navLink {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    transition: all ease-in-out 0.2s;
}

.navLink:hover {
    background-color: #ddd;
    border-radius: 6px;
    cursor: pointer;
}

.navLinksMobileContainer {
    display: none;
}

.navLinksMobile {
    position: fixed;
    top: 70px;
    right: -100%;
    height: calc(100vh - 70px);
    background-color: red;
    width: 100vw;
    transition: right ease-in-out 0.3s;
}

.navLinksMobile.active{
    display: flex;
    right: 0%;
}

.menuButt:hover{
    cursor: pointer;
}

@media screen and (max-width:780px) {
    .navLinks {
        display: none;
    }

    .navLinksMobileContainer {
        display: block;
    }
}